.coverDownload {
  background: #fff;
  width: 50rem;
  min-height: 100vh;
  /* padding: 0reauto; */
}

#downloadable {
  margin: 0 auto;
  width: 100%;
  /* padding-top: 1rem; */
  /* min-height: 100vh !important; */
}

.logo-img2 {
  /* margin-top: -6 !important; */
  width: 10rem !important;
  /* height: 30px; */
}

.pdf-head1 {
  font-size: 1.8rem;
  text-align: center;
}

.pdf-head4 {
  font-size: 1.3rem;
  text-align: center;
}

.pdf-head6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.pdf-head6 span {
  font-weight: bold;
}

.paraph1 {
  font-size: 1rem;
}

.pdf-paraph1 {
  padding-top: 0.7rem;
}

.pdf-paraph1 span {
  /* font-size: 1rem; */
  font-weight: 700;
}

.pdf-head5 {
  font-size: 1.1rem;
  /* margin-left: 1.5rem; */
  text-align: center;
}

.signed-img {
  width: 17rem;
  height: 7rem;
  border: 1px solid rgb(177, 173, 173);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sign_logo {
  /* width: 5rem; */
  margin-top: 1.5rem;
  background: transparent;
}

.img-fluid-sign-1 {
  background: transparent !important;
  width: 80% !important;
  max-height: 80%;
}

.img-fluid-sign {
  width: 70% !important;
  /* max-height: 6rem; */
}
