.coverDownload {
  background: #fff;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem auto;
}

#downloadable {
  margin: 0 auto;
  width: 100%;
  padding-top: 5rem;
  /* min-height: 100vh !important; */
}

.logo-img2 {
  width: 20rem !important;
}

.pdf-head1 {
  font-size: 1.8rem;
  text-align: center;
}

.pdf-head4 {
  font-size: 1.3rem;
  text-align: center;
}

.pdf-head6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.pdf-head6 span {
  font-weight: bold;
}

.paraph1 {
  font-size: 1rem;
}

.pdf-paraph1 span {
  /* font-size: 1rem; */
  font-weight: 700;
}

.pdf-head5 {
  font-size: 1.1rem;
  /* margin-left: 1.5rem; */
  text-align: center;
}
